*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

              /*COULEURS*/
.textColor{
  color: #EDEDED;
}
.textColor02{
  color: #dda900;
}
.headerFooterColor{
  background: #151515;
}
.submitButtonColor{
  border-color: #EDEDED;
}
.shadow{
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}


body{
  font-family: "Bebas Neue", sans-serif;
  /*font-weight: 400;*/
  font-style: normal;
  overflow-x: hidden;
  background: linear-gradient(to bottom, rgb(49, 49, 49), rgb(10, 10, 10));
}

              /*MODE CLAIR*/
body.light{
  background: linear-gradient(to bottom, #dbdbdb, #EDEDED);
}
body.light .textColor{
  color: rgb(10, 10, 10);
}
body.light .textColor02{
  color: #dda900;
}
body.light .headerFooterColor {
  background-color: #d2d2d2;
}
body.light .shadow{
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);
}
body.light .submitButtonColor{
  border-color: #151515;
}

              /*BARRE DE NAVIGATION DU HAUD*/
header nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 20px;
  font-size: 24px;
  z-index: 1000;
}

.nav-right, #bouttonMode{
  border: 3px solid #F0C800;
  padding: 4px 6px;
  text-decoration: none;
  margin-left: auto;
  white-space: nowrap;
  outline: none;
  background-color: #F0C800;
}

              /*TEXTE PRINCIPAL*/
#myName {
  max-width: 90%;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  letter-spacing: 10px;
  font-weight: 700;
  pointer-events: none;
}
#myRank{
  max-width: 90%;
  white-space: nowrap;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  letter-spacing: 8px;
  font-weight: 700;
  pointer-events: none;

}
              /*IMAGE DE FOND*/
.HeaderImage{
    height: 115vh;
    background-image:url(./images/AnnonceUnivers_SCU.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

              /*TOUT LE PORTFOLIO*/
.categories{
  margin-top: 75px;
}
.titreDeCategorie{
  text-align: center;
  letter-spacing: 3px;
  font-size: 50px;
}

img {
  transition: transform 0.3s ease;
}
img:hover{
  transform: scale(1.025);
}


              /*3D*/
.gridGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 images par ligne */
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.gridGallery img{
  width: 60vh;
  object-fit: cover;
}


              /*COURT METRAGE*/
#films{
  margin-bottom: 10vh;
}
.videoEtTexte {
    display: flex;
    gap: 20px;
    margin-top: 10vh;
}
.videoEtTexte video {
    width: 60%;
}
.videoEtTexte .presentationVideo {
  width: 40%;
  font-size: 2.5vh;
  margin-right: 2vh;
justify-content: center;
}
.videoContainer{
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
.videoContainer iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


              /*PHOTOSHOP*/
.affiche{
  display: flex;
  width: 100%;
  margin-top: 8vh;
  margin-bottom: 8vh;
}
.affiche img{
  width: 50%;
  height: auto;
  object-fit: contain;
}

              /*CARROUSSEL DE CARTES*/
.carrousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 40px 0;
  justify-content: center;
  height: 300px;
}
.carrousel img {
  width: 250px;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
  cursor: pointer;
}
.carrousel img:hover {
    transform: scale(1.3);
    opacity: 1;
}




              /*DETAILS*/
a{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, p{
  pointer-events: none;
}

summary{
  cursor: pointer;
}
summary:hover{
  text-decoration: underline;
}

.logo{
  width: 7vh;
}



              /*BARRE DE NAVIGATION DU BAS*/
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 50px;
  font-size: 24px;
  width: 100%;
  margin: auto;
  z-index: 1000;
  margin-top: 50vh;
}



              /*FORMULAIRE*/
.formulaire{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  width: 500vh;
  max-width: 500px;
  margin: 100px auto;
  margin-top: 20vh;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}
.case{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 400px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}
#message{
  margin-top: 5px;
  margin-bottom: 15px;
  width: 400px;
  height: 200px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}
.submitButton{
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
#name-error, #email-error, #message-error{
  color: rgb(232, 0, 0);
}
.hidden{
  display: none;
}
